# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore build directories
dist
build

# Ignore local environment files
.env
.env.dev
.env.test
.env.prod
.env.example

# Ignore Docker-related files
Dockerfile
Dockerfile.dev
.dockerignore
docker-compose.yaml
docker-compose.dev.yaml

# Ignore git-related files
.git
.gitignore

# Ignore editor and OS-specific files
.vscode
jsconfig.json
.idea
*.swp
*~
.DS_Store
Thumbs.db

# Ignore custom files and directories
data
docs
README.md
