<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>
  </head>
  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="border-collapse: collapse"
      width="100%"
    >
      <tbody>
        <tr>
          <td align="center">
            <div
              class="m_-3211295280473437762d_w488 m_-3211295280473437762d_max_w488 m_-3211295280473437762m_l_w359 m_-3211295280473437762m_m_w344 m_-3211295280473437762m_s_w305"
            >
              <div style="margin-bottom: 8px">
                <a
                  href=""
                  title="Visit Digital World"
                  target="_blank"
                >
                  <img
                    border="0"
                    height="24"
                    src="https://digital-world-2.myshopify.com/cdn/shop/files/logo_digital_new_250x.png?v=1613166683"
                    style="
                      display: inline-block;
                      width: 120px;
                      outline: none;
                      border: 0;
                      object-fit: contain;
                    "
                    width="24"
                    class="CToWUd"
                    data-bit="iit"
                  />
                </a>
              </div>
              <span
                class="m_-3211295280473437762c_g300 m_-3211295280473437762m_pl8 m_-3211295280473437762m_pr8 m_-3211295280473437762d_pl0 m_-3211295280473437762d_pr0"
                style="
                  display: inline-block;
                  padding: 0 8px;
                  font-family: SF Pro Text, Roboto, Segoe UI, helvetica neue,
                    helvetica, arial, sans-serif;
                  font-size: 20px;
                  line-height: 23px;
                  font-weight: 700;
                  color: #111111;
                  text-decoration: none;
                "
              >
                Welcome to Digital World
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="border-collapse: collapse"
      width="100%"
    >
      <tbody>
        <tr>
          <td>
            <div
              class="m_-3211295280473437762d_block m_-3211295280473437762m_none"
              style="
                height: 16px;
                font-size: 16px;
                line-height: 16px;
                display: none;
              "
            >
              &nbsp;
            </div>

            <div
              class="m_-3211295280473437762d_none m_-3211295280473437762m_block"
              style="height: 8px; font-size: 8px; line-height: 8px"
            >
              &nbsp;
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="border-collapse: collapse"
      width="100%"
    >
      <tbody>
        <tr>
          <td align="center">
            <div
              class="m_-3211295280473437762d_w488 m_-3211295280473437762d_max_w488 m_-3211295280473437762m_l_w359 m_-3211295280473437762m_m_w344 m_-3211295280473437762m_s_w305"
              style="text-align: center"
            >
              <span
                class="m_-3211295280473437762d_fs16 m_-3211295280473437762c_g300 m_-3211295280473437762m_pl8 m_-3211295280473437762m_pr8 m_-3211295280473437762d_pl0 m_-3211295280473437762d_pr0"
                style="
                  display: inline-block;
                  font-size: 16px;
                  line-height: 19px;
                  padding: 0 8px;
                  font-family: SF Pro Text, Roboto, Segoe UI, helvetica neue,
                    helvetica, arial, sans-serif;
                  color: #111111;
                  text-align: center;
                  text-decoration: none;
                  font-weight: normal;
                "
              >
                Please take a second to make sure we've got your email right.
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="border-collapse: collapse"
      width="100%"
    >
      <tbody>
        <tr>
          <td>
            <div style="height: 20px; font-size: 32px; line-height: 32px">
              &nbsp;
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="border-collapse: collapse"
      width="100%"
    >
      <tbody>
        <tr>
          <td align="center">
            <div
              class="m_-3211295280473437762d_w488 m_-3211295280473437762d_max_w488 m_-3211295280473437762m_l_w359 m_-3211295280473437762m_m_w344 m_-3211295280473437762m_s_w305"
            >
              <table align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td
                      align="center"
                      bgcolor="#e60023"
                      style="border-radius: 24px"
                      valign="top"
                    >
                      <a
                        class="m_-3211295280473437762pf"
                        href="<%= url %>"
                        style="
                          font-family: SF Pro Text, Roboto, Segoe UI,
                            helvetica neue, helvetica, arial, sans-serif;
                          border: 1px solid #e60023;
                          border-radius: 24px;
                          padding: 14.5px 16px;
                          display: inline-block;
                          font-size: 16px;
                          font-weight: bold;
                          line-height: 17px;
                          color: #ffffff;
                          text-decoration: none;
                          box-sizing: border-box;
                        "
                        target="_blank"
                      >
                        Confirm your email
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
